{% extends 'shop/basic.htm' %}
{% block css %}  
   .col-md-3{
    display: inline-block;
    margin-left:-4px;
   }
   .carousel-indicators .active{
    background-color:blue;
   }
   
   .col-md-3 img{
    width:250px;
    height:355px;
   }
   body .carousel-indicators  li{
    background-color:blue;
   }
    body .carousel-indicators {
    bottom : 0;
   }
   body.carousel-control-prev-icon,
   body .carousel-control-next-icon {
    background-color :blue;
  }

body .no-padding{
  padding-left:0,
  padding-right:0,
}
{% endblock %}

{% block body %} 
{% load static  %}
<div class ="container">
  {% for product,range,nslides in allprods %}
  <h1>{{product.0.category}}</h1>
  <div id="demo{{forloop.counter}}" class="carousel slide my-3"  data-bs-wrap="true" data-bs-ride="carousel">
    <ul class="carousel-indicators">
      <li data-bs-target="#demo{{forloop.counter}}" data-bs-slide-to="0" class="active"></li>
      {% for i in range %}
      <li data-bs-target="#demo{{forloop.parentloop.counter}}" data-bs-slide-to="{{ i }}" ></li>
      {% endfor %}
      </ul>

  <!--slideshow begins here-->
 <div class ="container carousel-inner no-padding">
  <div class="carousel-item active">
 
 {% for i in product%}
  <div class="col-xs-3 col-sm-3 col-md-3">
  <div class="card" style="width: 18rem;">
  <img src='/media/{{i.image}}' class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{i.product_name}} <br><h6>Price :{{i.price}}</h6>
    <p class="card-text">{{i.desc}}</p>
    <span id="divpr{{i.id}}" class="divpr">
    <button id="pr{{i.id}}" class="btn btn-primary cart">add to cart</button>
    </span>
   <a href="/shop/prodView/{{i.id}}"> <button id="qv{{i.id}}" class="btn btn-primary cart">quick view</button></a>
  </div>
</div>
</div>
{% if  forloop.counter|divisibleby:4  and not forloop.last %}
</div><div class="carousel-item">
  
{% endif %}

{% endfor %}

<!--**************************************************-->
</div>
    </div>

  
  <!-- Carousel controls -->

 <!-- <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
    <span class="custom-icon" aria-hidden="true">&lt;</span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
    <span class="custom-icon" aria-hidden="true">&gt;</span>
    <span class="visually-hidden">Next</span>
  </button>-->
 <a class="carousel-control-prev" href="#demo{{forloop.counter}}" role="button" data-bs-slide="prev">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="visually-hidden">Previous</span>
</a>

<a class="carousel-control-next" href="#demo{{forloop.counter}}" role="button" data-bs-slide="next">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="visually-hidden">Next</span>
</a>


  </div>
  
 {% endfor %}
     <!-- Include Bootstrap 5 Bundle -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</div>
{% endblock %}
{% block js %}
<!-- Load jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Your custom script -->
<script>
  console.log('working');

  // Initialize cart
  var cart;
  if (localStorage.getItem('cart') === null) {
    cart = {};
  } else {
    cart = JSON.parse(localStorage.getItem('cart'));
    document.getElementById('cart').innerHTML=Object.keys(cart).length;
     update(cart);
  }
  function found(){
   console.log("hello");
  }
  // Wait for DOM to be ready
  $(document).ready(function() {
    $('.cart').click(function() {
      console.log('clicked');
      var idstr = this.id.toString();
      console.log(idstr);
      
      if (cart[idstr] !== undefined) {
        cart[idstr] += 1;
      } else {
        cart[idstr] = 1;
      }
      update(cart);
      console.log(cart);
      localStorage.setItem('cart', JSON.stringify(cart));
      document.getElementById('cart').innerHTML=Object.keys(cart).length;
    });
  });

  function update(cart){
    for(var item in cart){
     document.getElementById('div'+item).innerHTML =
  "<button id='minus" + item + "' class='btn btn-primary minus'>-</button> " +
  "<span id='val" + item + "'>" + cart[item] + "</span> " +
  "<button id='plus" + item + "' class='btn btn-primary plus'>+</button>";


    }
  }
  $(".divpr").on("click","button.minus",function(){
    console.log("minus is clicked");
    a=this.id.slice(7,)
    cart["pr"+a]=cart["pr"+a]-1;
     cart["pr"+a]=Math.max(0,cart["pr"+a]);
    document.getElementById("valpr"+a).innerHTML=cart["pr"+a];
    update(cart);
  })
  $(".divpr").on("click","button.plus",function(){
    console.log("plus is clicked");
     a=this.id.slice(6,)
     cart["pr"+a]=cart["pr"+a]+1;
       document.getElementById("valpr"+a).innerHTML=cart["pr"+a];
    update(cart);
  })
  
 $("#spanclear").on("click","button.clear",function(){
    console.log("clear is clicked");
    localStorage.clear();
  })

</script>

{% endblock %}


  



